.toggle_switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}

.toggle_switch .checkbox {
  display: none;
}

.toggle_switch .label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid var(--grey);
  border-radius: 20px;
}

.toggle_switch .inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggle_switch .inner::before,
.toggle_switch .inner::after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: var(--navy);
  font-weight: bold;
  box-sizing: border-box;
}

.toggle_switch .inner::before {
  content: "YES";
  padding-left: 10px;
  background-color: var(--grey);
  color: var(--navy);
}
.toggle_switch .inner::after {
  content: "NO";
  padding-right: 10px;
  background-color: var(--red);
  color: #fff;
  text-align: right;
}
.toggle_switch .switch {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  background: var(--navy);
  position: absolute;
  top: 2px;
  left: 5;
  right: 40px;
  border: 0 solid var(--grey);
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
.toggle_switch .inner::before + .switch {
    background: #fff;
}
.toggle_switch .checkbox:checked + .label .inner {
  margin-left: 0;
}
.toggle_switch .checkbox:checked + .label .switch {
  right: 0px;
}
