.header {
  min-height: 90vh;
  /* background: var(--grey); */
}

.header__container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 90%;
  margin: auto;
}

.header__left,
.header__right {
  width: 50%;
}

.header_blob {
  /* margin-top: -5em; */
  margin-left: 3em;
}

.header__right {
  position: relative;
}

.doctor_illust {
  position: absolute;
  top: -4em;
  left: 3em;
}

.doctor_illust img {
  height: 48rem;
}

.small-illust {
    height: 6rem;
    position: absolute;
}

.illust-1 {
    top: 0;
    left: 6em;
}

.illust-2 {
    top: 0;
    right: 20%;
}

.illust-3 {
    top: 5em;
}

.illust-4 {
    top: 4em;
    left: 27%;
}

.illust-5 {
    top: 6em;
    right: 10%;
}

.illust-6 {
    top: 15em;
    right: 15%;
}

.illust-7 {
    top: 30%;
    left: -3em;
}

/** ANIMATION */

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px; */
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.header__left .font-head {
  font-size: 3rem;
  font-weight: 800;
  /* color: var(--head-grey); */
  text-transform: uppercase;
}

.header__left .font-head .one {
  color: var(--red);
}

/* .header__left .font-head .two {
  color: var(--head-grey);
} */

/** HEADER LIST */
.header__list {
  width: 90%;
  margin-top: 4em;
  display: grid;
  gap: 2em;
  /* justify-content: space-between; */
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

.header__listItem {
  display: flex;
  /* width: 50%; */
  gap: .5em;
  /* width: 80%; */
}

.header__listItem h3 {
  /* margin-top: 0; */
  margin: 0 0 .3em;
  font-size: 1.1rem;
  /* color: var(--grey); */
  color: var(--head-grey);
  font-weight: 800;
}

.header__listItem p {
  margin-top: 0;
  font-size: 1rem;
  /* color: #6a666b; */
  color: var(--normal-grey);
}

.list-item_icon {
  /* padding-top: .07em; */
  color: var(--grey);
  color: #bad2dd;
  font-size: 2rem;
}

.header__btn {
  padding: 1em 2.5em;
  background-color: var(--navy);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2.3em;
  margin-top: 1em;
  font-size: 1.2rem;
}

.header__btn:hover a .icon{
  transform: translateX(5px);
}

.header__btn a {
  color: #fff;
  display: flex;
  align-items: center;
}

.header__btn a .icon {
  margin-left: .5em;
  transition: 0.3s;
}

/**************************************************************************/
/********************************** FEATURES ******************************/
/**************************************************************************/

.features {
  margin: 10em auto;
  width: 90%;
}

.features__title, .testimonials__title {
  font-weight: 800;
  text-align: center;
}

.features__head h4, .testimonials__head h4 {
  color: var(--light-grey);
  text-align: center;
}

.features__head, .testimonials__head {
  margin: 5em auto;
}

.features__cardContainer {
  display: grid;
  gap: 2em;
  /* justify-content: space-around; */
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
}

/**************************************************************************/
/********************************** SECTION *******************************/
/**************************************************************************/

.main__container {
  /* background: var(--head-grey); */
}

.sub_container {
  width: 90%;
}


.sub_container {
  display: flex;
  align-items: center;
}

.image_container {
  width: 50%;
  position: relative;
}

.image_container img {
  width: 70%;
  height: 40rem;
  object-fit: cover;
  border-radius: 2em;
}

.image_bg {
  position: absolute;
  background-color: #eecece;
  top: 4em;
  left: 4em;
  width: inherit;
  height: inherit;
}

.contact {
  display: flex;
  background: var(--navy);
  border-radius: 2em;
  width: 80%;
  justify-content: space-between;
  gap: 4em;
  padding: 3em;
  margin: 10em auto;
}

.contact__left {
  width: 50%;
}

.contact__right {
  width: 50%;
}

.contact__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 90%;
}

.form_group label {
  margin-bottom: .5em;
  font-size: 1.2rem;
  font-weight: 700;
}

.form_group input, .form_group textarea {
  border-radius: .4em;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: .9em 1.5em;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  resize: none;
}

.contact__right h3{
  font-weight: 800;
  /* color: #fff; */
  font-size: 2rem;
  margin-top: 0;
}

.contact .submit_btn {
  width: 90%;
  padding: .9rem;
  border-radius: .4em;
  border: none;
  font-weight: 700;
  background: var(--red);
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 1.1rem;
}

.testimonials__container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 8em auto 4em;
}