.footer {
    margin: 4em auto;
    color: var(--normal-grey);
}
.footer_row {
    display: flex;
    justify-content: space-around;
}

.footer__col {
    /* flex: 1/3; */
    width: 20%;
}

.footer__col h4 {
    font-weight: 800;
    font-size: 1.2rem;
}

.footer_block {
    cursor: pointer;
}

.footer_block .icon {
    margin-right: .5em;
}

.icon_container {
    margin: 2em auto;
}

.icon_container .icon {
    border-radius: 50%;
    border: .13em solid var(--normal-grey);
    padding: .5em;
    margin-right: 1em;
}

.footer__col ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__col ul li {
    cursor: pointer;
    margin-bottom: 1em;
}

.footer__col ul li:hover {
    text-decoration: underline;
}