nav {
  width: 90%;
  margin: 1.5em auto;
  display: flex;
  justify-content: space-between;
  /* position: sticky; */
  align-items: center;
  top: 0;
  z-index: 10;
}
.logo {
  height: 6rem;
}

.nav__list {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-evenly;
  list-style: none;
}

.nav__list li {
  font-weight: 700;
  position: relative;
  cursor: pointer;
  color: var(--normal-grey);
}

.nav__list li a {
  transition: 0.3s;
}

.nav__list li a:hover {
  color: var(--head-grey);
}

.register_btn {
  box-sizing: border-box;
  /* border: 0.2rem solid var(--navy); */
  /* background: linear-gradient(90deg, rgba(243,53,53,1) 0%, rgba(51,66,91,1) 63%, rgba(41,37,44,1) 100%); */
  padding: 0.6em 1.4em;
  border-radius: 3em;
  background: var(--red);
  color: #fff !important;
  transition: 0.3s;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.register_btn:hover .dropdown,
.nav__list li:hover .dropdown {
  opacity: 1;
}

/* .dropdown_container {
  position: absolute;
  bottom: -10;
  width: 100%;
} */

.register_btn .dropdown,
.login_dropdown {
  position: absolute;
  padding: 0;
  top: calc(100% + .5em);
  /* display: none; */
  opacity: 0;
  left: 0;
  width: 70%;
  background-color: var(--grey);
  list-style: none;
  padding: 1em;
  border-radius: 1em;
}

.login_dropdown {
  width: calc(100% + 1rem);
}

.register_btn .dropdown li,
.nav__list li .dropdown li {
  color: var(--navy);
}

.register_btn .dropdown li:hover a,
.nav__list li .dropdown li:hover a {
  color: var(--red);
}