.login__form, .register__form {
  border-radius: 2em;
  background: var(--navy);
  padding: 4em;
  width: 55%;
  margin: auto;
}

.login__form h1,
.register__form h1 {
  text-align: center;
  font-weight: 800;
}

.login__form form,
.register__form form {
    width: 80%;
    margin: auto;
}

.login__form .form_group,
.register__form .form_group {
    width: 100%;
}

.login__form .submit_btn,
.register__form .submit_btn {
    width: 100%;
    background-color: var(--red);
    border: none;
    font-family: var(--font-muli);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 1.1rem;
    padding: .8em 0;
    color: #fff;
    margin: .5em auto;
    border-radius: .4em;
    cursor: pointer;
    transition: .2s;
}

.login__form .submit_btn:hover,
.register__form .submit_btn:hover {
    background-color: var(--grey);
    color: var(--navy);
}

.register__form .bottom,
.login__form .bottom {
  text-align: center;
  color: var(--normal-grey);
  margin: 1em 0 0;
}

.register__form .bottom a,
.login__form .bottom a {
  text-decoration: underline;
  color: var(--grey);
}

